/application/logs/

/downloads/

/uploads/

/nbproject/

/application/cache/

\.idea/

vendor/

composer\.lock

application/\.env

composer\.phar
.vscode/launch.json

docker-compose\.yml

phpdocker/

xdebug-access\.log
